@import url('https://fonts.googleapis.com/css2?family= Ysabeau +Office:wght@1;100;200;300;400;500;600 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau Office';
}

body {
    background: linear-gradient(100deg, #0b0e31, #00030e);
}

header {
    background-color: #061422;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #fff;
    height: 60px;
}

img {
    width: 70px;
}

span {
    width: 70px;
}

.linha {
    width: 100%;
    height: 1vh;
    background-color: #0f243b;
}

.linha2 {
    width: 100%;
    height: 1vh;
    background-color: #aa7d3b;
}

.div-main {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.question{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    margin-top: 30px;
}

.answer{
    font-size: 25px;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .3s;
}

.answer:hover{
    background: #bb9254;
    transition: all ease .3s;
}


button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #aa7d3b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.finish {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    gap: 10px;
    font-size: 25px;
    width: 60%;

}

.finish span{
    font-size: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finish button {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    width: 80%;
    margin-top: 20px;
    height: 60px;
}

@media (max-width: 1300px){

    main{
        width: 800px;
        height: 300px;
    }

    .spnQtd{
        font-size: 20px;
    }

    .question{
        font-size: 25px;
    }

    .answer{
        font-size: 20px;
        height: 50px;
    }
}

@media (max-width: 925px){

    span{
        display: none;
    }

    header{
        justify-content: center;
    }

    img{
        width: 50px;
    }

    .titulo{
        margin-left: 15px;
        font-size: 25px;
    }

    main{
        width: 600px;
        height: 250px;
    }

    .spnQtd{
        font-size: 15px;
    }

    .question{
        font-size: 20px;
    }

    .answer{
        font-size: 18px;
        height: 40px;
    }
}

@media (max-width: 655px){

    main{
        width: 450px;
        height: 200px;
    }

    .titulo{
        font-size: 25px;
    }

    img{
        width: 50px;
    }

    .spnQtd{
        font-size: 12px;
    }

    .question{
        font-size: 15px;
    }

    .answer{
        font-size: 15px;
        height: 30px;
    }
}

@media (max-width: 520px){

    main{
        width: 350px;
        height: 200px;
    }

    .question{
        font-size: 12px;
    }

    .answer{
        font-size: 12px;
        height: 25px;
    }
}

@media (max-width: 435px){

    img{
        width: 30px;
    }

    .titulo{
        font-size: 20px;
    }

    main{
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 350px){

    .titulo{
        font-size: 15px;
    }

    main{
        width: 290px;
        height: 200px;
    }

    .spnQtd{
        font-size: 10px;
    }

    .question{
        font-size: 10px;
    }

    .answer{
        font-size: 10px;
        height: 25px;
    }

}

@media (max-width: 320px){

    main{
        width: 250px;
        height: 180px;
    }

}



